{% extends "layout.html" %}
{% block content %}
<h1>About Picture Gallery</h1>

    <p>
        An art gallery is a room or a building in which visual art is displayed. In Western cultures from the mid-15th
    century, a gallery was any long, narrow covered passage along a wall, first used in the sense of a place for art in
    the 1590s. Today it can be located on a server hundreds of kilometers from you. Where you can look at the works of
        famous authors, make your own profile and put your own works in it.
    </p>
{% endblock content %}