{% extends "layout.html" %}
{% block content %}
<h1 class="mb-5">Artists are presented on the website</h1>

 {% for artist in art_list.items %}
<div class="media content-section">
<div class="d-flex justify-content-start media-body">
        <img class="rounded article-img-art m-2" src="{{ url_for('static', filename='artists_img/' + artist.id|string + '.jpg') }}">
    <div class="d-flex flex-column align-items-center article-metadata">
        <a href="{{ url_for('artist_paintings', artistname=artist.artistname) }}"><b><div>{{ artist.artistname }}</div></b></a>
        <p class="text-secondary ml-3">{{ artist.about }}</p>
    </div>
</div>
</div>

    {% endfor %}

    {% for page_num in art_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if art_list.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('artists', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('artists', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}

{% endblock content %}

{% block contentC %}
<div class="col-md-4">
          <div class="content-section">
            <h3 class="ml-2">Art gallery</h3>
            <p class='text-muted'>This is the place where you can see the paintings of famous artists and not very famous, but still full of soulfulness.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{{ url_for('artists') }}"><li class="list-group-item list-group-item-light">Artists</li></a>
                <a class="nav-item nav-link" href="{{ url_for('paintings') }}"><li class="list-group-item list-group-item-light">Paintings</li></a>
                <a class="nav-item nav-link" href="{{ url_for('posts') }}"><li class="list-group-item list-group-item-light">Posts</li></a>
                <a class="nav-item nav-link" href="{{ url_for('match_artists') }}"><li class="list-group-item list-group-item-light">Game</li></a>
              </ul>
            </p>
          </div>
        </div>
{% endblock contentC %}