{% extends "layout.html" %}
{% block content %}
<h1 class="mb-5">Artists are presented on the website</h1>

 {% for artist in art_list.items %}
<div class="d-flex justify-content-start">
        <img class="rounded article-img-art m-2" src="{{ url_for('static', filename='artists_img/' + artist.id|string + '.jpg') }}">
    <div class="d-flex flex-column align-items-center">
        <b><div>{{ artist.artistname }}</div></b>
        <p class="text-secondary ml-3">{{ artist.about }}</p>
    </div>
</div>

    {% endfor %}

    {% for page_num in art_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if art_list.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('artists', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('artists', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}

{% endblock content %}