{% extends "layout.html" %}
{% block content %}
   <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match our Artists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@500&family=Yusei+Magic&display=swap" rel="stylesheet">

</head>
<body>
    <header>
    <div id="heading-tag">Match Artists</div>
    <div id="time-res-wrap">
    <div id="timer">Let's go</div>
    <button id="start-clear-button"><b>START</b></button>
    <div id="result-count">try to match</div>
    </div>
    </header>
    <div id="div-wrapper">



        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="card"></div>
                <div class="flip-box-back"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
{% endblock content %}