{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">

        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>

    </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                {% if artist_ex is none %}

                <div class="form-group">
                    {{ form.about.label(class="form-control-label") }}
                    {% if form.about.errors %}
                    {{ form.about(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.about.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.about(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                {% endif %}

                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock content %}

{% block contentC %}
<div class="col-md-4">
          <div class="content-section">
            <h3 class="ml-2">Art gallery</h3>
            <p class='text-muted'>This is the place where you can see the paintings of famous artists and not very famous, but still full of soulfulness.
              <ul class="list-group">
                <a class="nav-item nav-link" href="{{ url_for('artists') }}"><li class="list-group-item list-group-item-light">Artists</li></a>
                <a class="nav-item nav-link" href="{{ url_for('paintings') }}"><li class="list-group-item list-group-item-light">Paintings</li></a>
                <a class="nav-item nav-link" href="{{ url_for('posts') }}"><li class="list-group-item list-group-item-light">Posts</li></a>
                <a class="nav-item nav-link" href="{{ url_for('match_artists') }}"><li class="list-group-item list-group-item-light">Game</li></a>
              </ul>
            </p>
          </div>
        </div>
{% endblock contentC %}